#catch-rate-calculator {
    text-align: center;
}

table.dataframe {
    text-align: center;
    border: 2px solid #0A152B;
    background: #295A94;
    width: 100%;
}

table.dataframe th {
    background: #0A152B;
    column-span: none;
}

table.dataframe tr:nth-child(even) {
    background: #103973;
}

table.dataframe td img {
    height: 32px;
}